# 使用淘宝源，使用npm publish的时候要把下面这条去掉，否则会发布到淘宝镜像上
registry=https://registry.npm.taobao.org

# 指定node-sass下载源
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/

# 指定phantomjs下载源
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/

# 指定electron下载源
electron_mirror=https://npm.taobao.org/mirrors/electron/

# puppeteer 配置
puppeteer_download_host=https://npm.taobao.org/mirrors
puppeteer_skip_chromium_download
